.skeleton {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #0e1010;
  border-radius: 0px;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(
    120deg,
    #0e1010,
    #0d1010,
    #131919,
    #0c0e0e,
    #0e1010
  );
  animation: shimmer 2s infinite ease-in-out;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
